<ion-header [translucent]="true">
  <ion-toolbar>
   
    <ion-buttons slot="start">
      <ion-button (click)="cerrarsesion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" >
      <ion-button (click)="irPerfilUsuario()">
        <ion-icon name="person-circle-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >

  <div class="box">
   
    <ion-button expand="block" (click)="irvehiculos()" class="boton">Lista de Vehículos</ion-button>
    <ion-button expand="block" (click)="irviajes()" class="boton2">Lista de Viajes</ion-button>
  </div>
</ion-content>
