<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restaurar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="box">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="email" label="Correo electrónico:" type="email"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="restaurar()">Restaurar Contraseña</ion-button>
    <ion-button (click)="irlogin()">Volver al Login</ion-button>
  </div>
</ion-content>
