<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="imagenperfil">
      <img src="assets/img/pelaoduro.jpeg" alt="imperfil" class="perfilimg">

  </div>

  <ion-list>
    <ion-item *ngFor="let Nombre of nombre">
      {{ Nombre }}
    </ion-item>
    <ion-item *ngFor="let Correo of correo">
      {{ Correo }}
    </ion-item>
    <ion-item *ngFor="let Telefono of telefono">
      {{ Telefono }}
    </ion-item>
    <ion-item *ngFor="let Clasi of miclasificacion">
      {{ Clasi }}
    </ion-item>
    
  </ion-list>

  <ion-button expand="full" (click)="irlogin()">
    Volver al Inicio
  </ion-button>
</ion-content>
